{% extends 'base.html' %}

{% block content %}
<div class="container" style="width: 70%; margin: 20px auto; padding: 20px; background: white; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); font-family: 'Times New Roman', sans-serif;">
    <h1 style="color: #191970; text-align: center;">About Water Leakage Reporting System</h1>

    <h2>About Us</h2>
    <p>The Water Leakage Reporting System is an user-friendly platform that empowers citizens to actively participate in improving water service delivery through GIS technology. This collaborative approach helps swiftly identify and resolve problems, fostering transparency and trust between service providers and the community.</p>

    <p>Our goal is to minimize water service disruptions, improve coordination among teams, and deliver transparent, efficient, and reliable services to the community.</p>

    <h2>Our Focus</h2>
    <ul>
        <li><strong style="color: #4CAF50;">Efficiency:</strong> Reducing downtime and improving the accuracy of leakage detection and reporting.</li>
        <li><strong style="color: #4CAF50;">Accessibility:</strong> Providing an easy-to-use platform that simplifies leakage reporting for both citizens and technical teams.</li>
        <li><strong style="color: #4CAF50;">Reliability:</strong> Ensuring the water service is consistently operational through real-time updates and proactive monitoring.</li>
        <li><strong style="color: #4CAF50;">Integration:</strong> Leveraging GIS technology for visual leakage localization and improved decision-making.</li>
        <li><strong style="color: #4CAF50;">Customer-Centric Approach:</strong> Focusing on user needs and continuously improving the platform based on feedback and technological advancements.</li>
    </ul>

    <h3>Contribution of GIS in the System</h3>
    <ul>
        <li><strong style="color: #4CAF50;">Real-Time leakage Mapping:</strong> Visualizing network leakage on a map helps technicians to quickly identify and assess the geographical spread of issues, leading to faster resolution times.</li>
        <li><strong style="color: #4CAF50;">Efficient Resource Allocation:</strong> GIS data allows managers to assign technicians based on proximity, ensuring that field teams are deployed efficiently and response times are minimized.</li>
        <li><strong style="color: #4CAF50;">Data Visualization and Decision Making:</strong> GIS technology assists in analyzing leakage trends and water network conditions, enabling better planning, maintenance, and strategic decision-making.</li>
    </ul>

    <h2>Join Us</h2>
    <p>We welcome collaboration with water experts, researchers, and institutions to advance the use of technology in water management. Together, we can improve service delivery and strengthen Tanzania’s water infrastructure for a more resilient future.</p>
</div>
{% endblock content %}
