{% extends 'base.html' %}
{% load static %}  {# Hakikisha umepakia static files #}

{% block title %}Remote Sensing - BUWASA  Leakage Reporting System{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="mb-4" style="color: #00008B;">Role of Remote Sensing in Water Leakage Monitoring</h2>
    <p>
        Remote sensing technology is a crucial tool for monitoring and managing the water netwwork infrastructure at BUWASA. By collecting data through satellite imagery and aerial surveillance, we can better understand the environmental factors that impact the stability of our water infrastructure network.
    </p>
    <p>
        With remote sensing, we can:
    </p>
    <ul>
        <li><strong>Detect Environmental Threats:</strong> Track natural events such as floods, landslides, and extreme weather conditions that may affect water infrastructure network.</li>
        <li><strong>Monitor Infrastructure:</strong> Use high-resolution satellite images to examine areas around our water infractructure network for potential risks like construction or unauthorized activities.</li>
        <li><strong>Proactive Maintenance:</strong> By identifying areas prone to disruption before they occur, we can take action to prevent major service outages.</li>
        <li><strong>Improve Data Accuracy:</strong> Ensure that the data used for planning and operations is up-to-date, allowing for more precise decision-making.</li>
    </ul>
    <p>
        This data-driven approach helps BUWASA enhance the quality and reliability of services provided to customers, reducing maintenance costs and improving response times to faults.
    </p>
    <p>
        Remote sensing supports our commitment to providing a robust, reliable fiber optic infrastructure while ensuring that BUWASA is prepared for both anticipated and unexpected challenges.
    </p>
</div>
{% endblock %}
